Listázzuk azon vendégek nevét és email-címét, akik az 1990-es év második felében születtek! 

a. Rendezzük a listát a születés hónapja szerint növekvő sorrendbe!

In [6]:
Select NEV, EMAIL, SZUL_DAT
from Vendeg
where YEAR(SZUL_DAT)=1990 and MONTH(SZUL_DAT)>6
order by MONTH(SZUL_DAT) ASC

NEV,EMAIL,SZUL_DAT
Bodor Szabolcs,szabolcs.bodor@mail.hu,1990-07-16
Bosnyák Ilona,ilona3@gmail.com,1990-08-06
Szabó Julianna,julianna4@gmail.com,1990-09-29
Berta Dávid,david4@gmail.com,1990-10-08

Készítsen lekérdezést, amely megjeleníti, hogy szobánként (SZOBA\_FK) hány olyan foglalás történt, ahol a felnőttek száma nagyobb volt a gyermekek számánál!

a. Az eredményt rendezzük sorba a foglalásszám szerint növekvően!

b. Hagyjuk ki azokat a csoportokat, ahol az említett foglalásszám 2 alatti!

In [18]:
SELECT SZOBA_FK,count(*)
From foglalas f join Szoba sz on f.SZOBA_FK = sz.SZOBA_ID
where f.FELNOTT_SZAM>f.GYERMEK_SZAM
group by SZOBA_FK
having count(*)>=2
order by count(*)

: Msg 156, Level 15, State 1, Line 6
Incorrect syntax near the keyword 'having'.

Jelenítsük meg, hogy az egyes szálláshelyeken összesen hány foglalás történt!

a. Csak a szálláshely neve és a foglalásszám jelenjen meg

b. Azok a szálláshelyek is jelenjenek meg, ahol nem történt foglalás (ha vannak ilyenek)

In [33]:
select  count(*)
from Szoba sz join Szallashely szh on sz.SZALLAS_FK = szh.SZALLAS_ID
    left join Foglalas f on sz.SZOBA_ID = f.SZOBA_FK
group by SZALLAS_FK

UNION

select SZALLAS_NEV
from Szallashely szh
group by szh.SZALLAS_NEV

: Msg 245, Level 16, State 1, Line 1
Conversion failed when converting the nvarchar value 'Bagoly Hotel' to data type int.